body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  background-color: #d9a9a5;
}

.menu {
  display: none;
}

.information_line {
  height: 13px;
  font-weight: 600;
  color: white;
  text-align: center;
  padding-bottom: 5px;
}
.information_line p {
  font-size: 14px;
  letter-spacing: 2px;
  opacity: 0.9;
  margin-top: 3px;
  top: 0;
}

.header {
  background-color: #7ca982;
  height: 85vh;
  padding: 50px;
  padding-top: 10px;
}
.header .part_sub {
  display: none;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  background-color: #cfd9ce;
  color: #7ca982;
}
.header .part_sub p {
  margin: 0;
  transition: 0.5s;
}
.header .logo {
  height: 70px;
}
.header p:hover {
  color: #d9a9a5;
  text-decoration: underline;
}
.header .img .show_product_img {
  transform: rotate(30deg);
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
}
.header img {
  width: 100%;
  height: 100%;
}
.header .slider_container {
  padding: 20px 0;
  text-align: center;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: auto 1fr auto;
}
.header .slider_container i {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header .network_line {
  padding-top: 44px;
  z-index: 100;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header .network_line a {
  text-decoration: none;
}
.header .network_line i {
  display: block;
  text-align: center;
  transition: 0.3s;
  font-size: 21px;
  color: #cfd9ce;
}
.header .network_line i:hover {
  color: #d9a9a5;
}
.header .network_line i.discord {
  padding: 8px 0;
}
.header .slider_container i {
  padding: 5px;
  opacity: 0.5;
  font-size: 40px;
  transition: 0.5s;
  color: #cfd9ce;
}
.header .slider_container i:hover {
  color: #d9a9a5;
}
.header .navigation {
  display: grid;
  grid-template-columns: 1fr auto;
  position: relative;
}
.header .navigation h1 {
  margin: 0;
  font-size: 43px;
}
.header .navigation label {
  background-color: white;
  display: flex;
  width: 100%;
  border-radius: 5px;
  align-items: center;
}
.header .navigation label i.search {
  padding: 6px 5px;
}
.header .navigation .basket {
  display: flex;
  border-radius: 5px;
  padding: 5px;
  margin-left: 20px;
  color: #cfd9ce;
  background-color: #d9a9a5;
}
.header .navigation .basket .hr {
  height: 19px;
  margin-right: 10px;
  width: 1px;
  background-color: #cfd9ce;
}
.header .navigation .link_list a {
  color: #cfd9ce;
  padding-right: 6px;
  text-decoration: none;
  font-size: 20px;
}
.header .navigation .link_list a:hover {
  border-bottom: 3px solid #d9a9a5;
  transition: 0.5s;
}
.header .navigation .link_list .link_list_part:hover .part_sub {
  display: block;
}
.header .navigation .navigation_part {
  display: flex;
  align-items: center;
}
.header .navigation .navigation_part h1 {
  padding-right: 20px;
}
.header .navigation .navigation_part i {
  padding-right: 10px;
}
.header .navigation .navigation_part input {
  width: 300px;
  height: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 0;
}
.header .navigation .navigation_part_one {
  color: #cfd9ce;
  padding: 15px;
}
.header .navigation .navigation_part_one a {
  text-decoration: none;
  color: #cfd9ce;
}
.header .navigation .navigation_part_one i {
  transition: 0.5s;
  font-size: 19px;
  padding-left: 30px;
}
.header .navigation .navigation_part_one i.show_open:hover {
  color: #d9a9a5;
}
.header .navigation .navigation_part_two {
  font-weight: 500;
}
.header .navigation .navigation_part_two .link_list {
  display: flex;
}
.header .navigation .navigation_part_two .link_list .link_list_part {
  padding: 0 5px;
}

.choice_container {
  text-align: center;
  padding-bottom: 30px;
}
.choice_container .basic_choice {
  transition: 0.5s;
  left: 0px;
  position: absolute;
  justify-items: center;
  display: flex;
}
.choice_container .basic_choice .img {
  height: 189px;
}
.choice_container .basic_choice i.arrow {
  display: none;
}
.choice_container .basic_choice i.arrow_down {
  display: block;
  color: #cfd9ce;
  font-size: 20px;
}
.choice_container .basic_choice .card_choice {
  padding: 40px 20px;
  opacity: 78%;
  width: 267px;
  transition: 1s;
  border: 3px solid #cfd9ce;
  margin: 0 10px;
  border-radius: 40%;
  background-color: white;
}
.choice_container .basic_choice .card_choice .navigation_part_one .choice_kind {
  height: 180px;
  padding: 10px;
  transition: 1s;
}
.choice_container .basic_choice .card_choice p {
  margin-top: 0;
  color: #a0a79e;
}
.choice_container .basic_choice .card_choice i {
  font-size: 40px;
  transition: 0.3s;
  color: #4b636d;
}
.choice_container .basic_choice .card_choice:hover i {
  color: #7ca982;
}
.choice_container .basic_choice .img {
  padding: 10px;
}
.choice_container .basic_left {
  left: 0;
}

.type_product {
  display: grid;
  background: linear-gradient(135deg, #6b7478, #414141);
  align-items: center;
  grid-template-columns: auto 1fr;
  padding: 50px;
}

.card_container {
  padding: 50px;
  padding-right: 0;
  display: grid;
  grid-template-columns: auto 1fr;
}

.number {
  font-size: 28px;
  text-align: left;
  padding-left: 60px;
  padding-top: 10px;
  font-weight: 600;
  margin-bottom: 10px;
}
.number .number_page {
  transition: 0.5s;
  background-color: #7ca982;
  border-radius: 50%;
  display: inline-block;
  line-height: 1.5em;
  height: 1.5em;
  text-align: center;
  width: 1.5em;
}
.number .number_2 {
  color: #384d47;
}

.text {
  background-color: #d9a9a5;
  position: relative;
  align-items: center;
  grid-gap: 270px;
  color: white;
}
.text .text_container .card_arrow_slider {
  color: #d9a9a5;
}
.text .text_container .card_arrow_slider span {
  padding: 0 7px;
  font-size: 20px;
}
.text .text_container .card_arrow_slider i {
  transition: 0.3s;
}
.text .text_container .card_arrow_slider i:hover {
  color: white;
}
.text .text_container .comment input {
  border: 0;
  font-size: 17px;
  transition: 0.5s;
  padding: 5px;
  border-radius: 5px;
  padding-bottom: 50px;
  margin-bottom: 10px;
}
.text .text_container_two {
  display: none;
}
.text .toggle_on_text {
  padding: 30px 0;
  font-size: 30px;
  color: #d9a9a5;
}
.text h2 {
  margin: 0;
  font-size: 35px;
  padding: 20px 0;
}
.text p {
  font-size: 20px;
  margin: 10px 0;
}
.text button {
  font-size: 20px;
  border: 0;
  border-radius: 50px;
  padding: 5px 20px;
  transition: 0.5s;
  background-color: #6ecdbb;
  color: #384d47;
}
.text button:hover {
  background-color: #384d47;
  color: #cfd9ce;
}
.text .star_veb {
  display: flex;
  font-size: 20px;
  align-items: center;
  padding-bottom: 20px;
}
.text * {
  position: relative;
}
.text:before {
  content: "";
  transform: translate(-50%, -160px);
  top: 0;
  height: 800px;
  border-radius: 50%;
  width: 900px;
  display: block;
  position: absolute;
  background: rgba(96, 147, 102, 0.95);
}

.text_new i.toggle_on_text {
  display: none;
}
.text_new .number {
  display: none;
}
.text_new .star_veb {
  display: none;
}
.text_new p.comment {
  font-size: 20px;
}
.text_new h2 {
  padding-bottom: 40px;
}

.cardList_rapper {
  overflow-y: hidden;
  border-radius: 100px 0 0 100px;
  height: 400px;
}

#element::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f9f9fd;
}

#element::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #7ca982;
}

#element::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

.cardList {
  position: relative;
  text-align: center;
}
.cardList .wear_container {
  display: none;
}
.cardList .wear_container .wear_choice .img {
  height: 400px;
  transform: rotate(30deg);
}
.cardList .card {
  background-color: #6b7478;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.cardList .card p {
  font-size: 20px;
  background-color: #7c8e51;
  padding: 5px;
  color: #cfd9ce;
}
.cardList .card button {
  width: 20%;
  font-size: 20px;
  background-color: #cfd9ce;
  color: #7c8e51;
  border: 0;
  transition: 0.5s;
  border-radius: 5px;
  margin-bottom: 14px;
}
.cardList .card button:hover {
  background-color: #414141;
  color: #cfd9ce;
}

.img img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
