.choice_container{
    text-align: center;
    padding-bottom: 30px;
    .basic_choice{
        padding-left: 30px;
        position: absolute;
        padding-top: 10px;
        justify-items: center;
        display: flex;
        i.arrow{
            display: none;
        }
        i.arrow_down{
            display: block;
            color: $color_white;
            font-size: 20px;
        }
        .card_choice{
            padding: 40px 20px;
            opacity: 78%;
            width: 267px;
            //background: linear-gradient(35deg, $color_grey, $color_black);
            transition: 1s;
            border: 3px solid $color_white;
            margin: 0 10px;
            border-radius: 40%;
            background-color: white;
            img{
                height: 180px;
                padding: 10px;
                transition: 1s;
            }
            i{
                font-size: 40px;
                padding-top: 50px;
                color: rgb(75, 99, 109);
            }
        }
        //.card_choice:hover{
        //    border: 5px solid $color_blue;
        //    border-radius: 5px;
        //}
        //.card_choice:hover img{
        //    transform: rotate(30deg);
        //    height: 90px;
        //}
        //.card_choice:hover span{
        //    display: none;
        //}
        //.card_choice:hover i{
        //    color: $color_pink;
        //    transform: rotate(90deg);
        //}
        .img{
            padding: 10px;
        }
    }
}
